<link rel='stylesheet' href='application.css' type='text/css' />
<%= @form_submitted %>
<p> 
	First Hash: <%= @first_hash %> <br>
	Has been tweeted <%= @tweeted1 %> times.<br>
	Second Hash: <%= @second_hash %><br>
 	Has been tweeted <%= @tweeted2 %> times.
 </p>
 <p>The winner is... <%= @winner %>! </p>


